.tw-followCard {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: .8rem;
    justify-content: space-between;
    /* alineados */
}

.tw-followCard-header {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.tw-followCard-info {
    display: flex;
    flex-direction: column;
}

.tw-followCard-infoUserName {
    opacity: 0.6;
}

.tw-followCard-img {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
}

.tw-followCard-text {
    display:flex;
}

.tw-followCard-button {
    cursor: pointer;
    margin-left: 2rem;
    border: 0;
    border-radius: 1.2rem;
    padding: 0.6rem 1.2rem;
    font-weight: bold;
    transition: 0.5s ease background-color;
    /*ease:funcion de temporizacion */
}

.tw-followCard-button:hover {
    opacity: .8;
}

.tw-followCard-button.is-following {
    border: 0.1rem solid rgb(189, 189, 189);
    background-color: transparent;
    color: white
}

.tw-followCard-button.is-following:hover {
    background-color: transparent;
    color: red;
    border: 0.1rem solid red;
    transition: .5 ease all;
}

.tw-followCard-button.is-following:hover .tw-followCard-stopFollow {
    display:block;
}

.tw-followCard-button.is-following:hover .tw-followCard-text {
    display:none;
}

.tw-followCard-stopFollow {
    display: none;
}